@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">
        Organize your work and life, finally.
    </h1>
    <p class="first-para">Become focused, organized, and calm with Todo. The world’s #1 task manager and to-do list app. </p>
    <button><a href="~/registration.html" style="color:#fff;" target="_blank">start for free</a></button>
</div>
<section class="mid-section">


    <img  class="first-image"src="~/img/todo22.jpg" />

    <div class="flex-container">
        <img class="second-image" src="~/img/todoimage1.jpg" />
        <p class="first-para">
            <b>Very Easy and reliable to use.</b> You can create and organize your Todo list at your own convenience, from the comfort
            of your bed,at the office, in the pub, when hanging out with friends etc. Add, edit and delete your Todo list whenever you feel like.
        </p>
    </div>

    <div class="flex-container2">

        <img class="third-image" src="~/img/clear-your-mind.jpg" />
        <p class="first-para">
            <span style="font-family: verdana; font-weight: 600;">Reach that mental clarity you’ve been longing for.</span>Your to-do lists are automatically sorted into Today, Upcoming and custom Filter
            views to help you focus on your most important things.
        </p>

    </div>
    <div>
        <h2>Delightfully simple and deceptively powerful task management</h2>
        <p class="second-para">30 million+ people organize billions of tasks in Todo for their work, education, and personal life.</p>
    </div>
</section>
<hr />

<!--- using bootstrap grid system-->
<section class="features">
    <div class="row">
        <div class=" col-lg-3">
            <h3>A task manager you can trust for life.</h3>
            <p>We’ve been building Todo for 5 years now. We're in it for the long ride.</p>
        </div>
        <div class="col-lg-3">

            <img class="features-img" src="~/img/30mil.jpg" />
            <h3> 30 million+ </h3>
            <p>app download.</p>
        </div>
        <div class="col-lg-3">

            <img class="features-img" src="~/img/160count.jpg" />
            <h3>120 countries+.</h3>
            <p>user location.</p>
        </div>
        <div class="col-lg-3">

            <img class="features-img" src="~/img/1mill pr.jpg" />
            <h3>500 thousand+.</h3>
            <p>pro user.</p>
        </div>
    </div>
</section>


<!-- Pricing -->

<section id="pricing">

    <h2>Find the plan that’s right for you</h2>
    <p>Simple and affordable price plans Start for free, or as low as $4 a month.</p>
    <div class="row">
        <div class=" pricing-col col-lg-4 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Free</h3>
                </div>
                <div class="card-body">
                    <h2>Free</h2>
                    <p>10 Active task</p>
                    <p>3 filters</p>
                    <p>10 Todo list Per Day</p>
                    <p>1 week activity history</p>
                    <button class="btn-card btn-lg btn-outline-dark" type="button">Get Started</button>
                </div>
            </div>
        </div>

        <div class=" pricing-col col-lg-4 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Pro</h3>
                </div>
                <div class="card-body">
                    <h2>$4/ mo</h2>
                    <p>300 active task</p>
                    <p> 50 filters</p>
                    <p>Unlimited Todo list per day</p>
                    <p>Unlimited Activity history</p>
                    <p>Reminders</p>
                    <button class="btn-card btn-lg btn-outline-dark" type="button">Upgrade now</button>
                </div>
            </div>
        </div>

        <div class=" pricing-col col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h3>Business</h3>
                </div>
                <div class="card-body">
                    <h2>$10/ mo</h2>
                    <p>500 active task per member</p>
                    <p>Unlimited Todo list per day</p>
                    <p>Unlimited Messages</p>
                    <p>Unlimited Activity history</p>
                    <p>Team and members roles</p>
                    <p>Reminders</p>
                    <button class="btn-card btn-lg btn-outline-dark" type="button">Try for free</button>
                </div>

            </div>
        </div>
    </div>

</section>

<section class="last-section">
    <h2 >Achieve peace of mind with Todo Today.</h2>
    <button><a href="~/registration.html" style="color:#fff;" target="_blank">start for free</a></button>
</section>

